#sidebar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sidebar-separator {
    height: 24px;
    background-color: #f1f1f1;
    border-color: #ddd;
    display: flex;
    align-items: center;
    background-color: #ddd;
    padding: 0 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: rgb(50, 50, 50);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 16px;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(220, 220, 220)), to(rgb(150, 150, 150)));
    background-repeat: repeat-x;
    border-bottom: 1px solid rgb(64%, 64%, 64%);
    border-right: 1px solid rgb(179, 179, 179);
}

.info {
    text-align: center;
    font-style: italic;
    padding: 6px;
    color: #888;
    line-height: 22px;
    width: 100%;
}