[data-analytics], [data-analytics-placeholder] {
    background-color: rgba(127, 255, 0, 0.7) !important;
    border: 3px solid chartreuse !important;
}

form[data-analytics] input,
form[data-analytics-placeholder] input {
    border: 3px solid chartreuse !important;
}